@page
@model NetBanking.UI.Pages.HistoricoModel
@{
}

<link href="~/css/mc-calendar.min.css" rel="stylesheet" />
<form method="post">
    <div class="container-sm p-4 w-75 mt-3 rounded">
        <div class="form-counter">
            <label class="form-label" for="cuentaRetiro">No. Cuenta</label>
            <select asp-for="_propHistorico.NumeroCuenta" asp-items="Model._SelectCuentas" id="cuentaRetiro" class="form-select form-control-lg">
                <option value=""></option>
            </select>
        </div>

        <div class="d-flex mt-1">
            <label for="fechaDesde">Fecha desde: </label>
            <input asp-for="_propHistorico.FechaDesde" type="date" class="ms-3 me-3" id="fechaDesde"  />
            <label for="fechaHasta">Fecha hasta: </label>
            <input asp-for="_propHistorico.FechaHasta" type="date" id="fechaHasta" class="ms-3 me-3" />
        </div>
        <button type="submit" class="btn btn-outline-primary" >Buscar</button>
    </div>
</form>
<div class="container-sm shadow-5 p-4 w-75 mt-2 rounded">
    <h5>Historico</h5>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">No. Transacción</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Detalle</th>

            </tr>
        </thead>
        <tbody>
            @if (!(Model._Historicos is null))
                foreach (var item in Model._Historicos)
                {
                <tr>
                    <th scope="row">@item.NumeroCuenta</th>
                    <td>@(item.UsuarioNombre.Split(" ")[0]+" "+item.UsuarioApellido.Split(" ")[0])</td>
                    <td>@item.Monto</td>
                    <td>@item.Fecha</td>
                    <td>@(item.DepRet+" - "+item.Detalles)</td>

                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/mc-calendar.min.js"></script>
    <script type="text/javascript">
        const myDatePicker = MCDatepicker.create({
            el: '#fechaDesde', dateFormat: 'YYYY-MM-DD',

            autoClose: true,
            closeOndblclick: true,
            customMonths: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octobre', 'Noviembre', 'Deciembre'],
            customWeekDays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            customOkBTN: 'OK',
            customClearBTN: 'CLEAR',
            customCancelBTN: 'CANCEL'
        });
        myDatePicker.setMonth(new Date().getMonth() - 1);

        const myDatePicker2 = MCDatepicker.create({
            el: '#fechaHasta', dateFormat: 'YYYY-MM-DD',
            customMonths: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octobre', 'Noviembre', 'Deciembre'],
            customWeekDays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            customOkBTN: 'OK',
            customClearBTN: 'CLEAR',
            customCancelBTN: 'CANCEL'
        });

        myDatePicker2.setDate(new Date().getDate());

    </script>
}


